/* @media only screen and (max-width: 1200px){
    body {
        background-color: rgb(235, 225, 212);
    }
} */

/* @media only screen and (min-width: 1200px){
    body {
        background-color: rgb(180, 167, 167);
    }
} */
/* 
#postReply{
background-color: black;
width: 98%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    box-shadow: 
    rgba(209, 212, 20, 0.2) 0 3px 5px -1px,
    rgba(153, 12, 12, 0.14) 0 6px 10px 0,
    rgba(18, 33, 173, 0.12) 0 1px 18px 0;
    border-style: none;
    font-family: 'Estonia', cursive;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    font-weight: 400;
    margin: 1em;
    padding: 1em;
} */

/* textarea {
    size: ;
    width: 80%;
} */

/* behind Give it a message and Submit button */
/* .input-section{} */


/* FRONT PAGE: 1st text LINE */
.firstLine{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 70px;
    font-weight: bolder;
    -webkit-text-stroke: 3px darkblue; /* width and color */
    /* margin: 1em;
    padding: 1em; */
}
/* FRONT PAGE: 2nd text LINE */
.secondLine{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 40px;
    font-weight: 400;
    -webkit-text-stroke: 1px darkblue; /* width and color */
    /* margin: 1em;
    padding: 1em; */
}
/* FRONT PAGE: BUTTON */
.btnFrontPage{
    cursor: pointer;
    /* !!! YES: button style*/
    background-color: rgb(21, 48, 170);
    height: 48px;
    border-radius: 24px;
    border-style: none;
    box-shadow:
    rgba(209, 212, 20, 0.2) 0 3px 5px -1px,
    rgba(153, 12, 12, 0.14) 0 6px 10px 0,
    rgba(18, 33, 173, 0.12) 0 1px 18px 0;
    /* !!! YES: text */
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    padding: 2px 24px; 
}



/* title */
h1{
    font-family: 'Estonia', cursive;
font-family: 'M PLUS 2', sans-serif;
font-family: 'Pacifico', cursive;
text-align: center;
font-size: 50px;
}
p{
    size: 15px;
}

/* gif search input - box */
#search{
    margin-top: 15px;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    box-shadow: 
    rgba(209, 212, 20, 0.2) 0 3px 5px -1px,
    rgba(153, 12, 12, 0.14) 0 6px 10px 0,
    rgba(18, 33, 173, 0.12) 0 1px 18px 0;
}

/* go button for gif */
#btnSearch{
    cursor: pointer;
    /* !!! YES: button style*/
    background-color: rgb(174, 211, 194);
    height: 48px;
    border-radius: 24px;
    border-style: none;
    box-shadow:
    rgba(209, 212, 20, 0.2) 0 3px 5px -1px,
    rgba(153, 12, 12, 0.14) 0 6px 10px 0,
    rgba(18, 33, 173, 0.12) 0 1px 18px 0;
    /* !!! YES: text */
    color: black;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    padding: 2px 24px; 
}

/* font for "search gif" */
label{
    font-family: 'Estonia', cursive;
font-family: 'M PLUS 2', sans-serif;
font-family: 'Pacifico', cursive;
font-weight: bolder;
font-size: 22px;
}

/* Give it a message box */
textarea#entry-textbox{
    /* box size */
    width: 98%;
    /* display: block;
    box-sizing: border-box; */
    border: none;
    border-radius: 12px;
    box-shadow: 
    rgba(209, 212, 20, 0.2) 0 3px 5px -1px,
    rgba(153, 12, 12, 0.14) 0 6px 10px 0,
    rgba(18, 33, 173, 0.12) 0 1px 18px 0;
    border-style: none;
    font-family: 'Estonia', cursive;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
 /* margin: 1em; */
    padding: 1em;
}

/* just "Submit" button */
button#btnSubmit{
    cursor: pointer;
    /* !!! YES: button style*/
    background-color: rgb(62, 179, 124);
    height: 48px;
    border-radius: 24px;
    border-style: none;
    box-shadow:
    rgba(209, 212, 20, 0.2) 0 3px 5px -1px,
    rgba(153, 12, 12, 0.14) 0 6px 10px 0,
    rgba(18, 33, 173, 0.12) 0 1px 18px 0;
    /* !!! YES: text */
    color: #104168;
    font-size: 14px;
    font-weight: bolder;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    padding: 2px 24px; 
   
    /* display: inline-flex; */
    /* box-sizing: border-box; */
    /* align-items: center; */
    /* margin-left: ; */
    /* appearance: none; */
    
    /* fill: currentcolor; */
    
    
    /* justify-content: center; */
    /* letter-spacing: .25px; */
    /* line-height: normal; */
    /* max-width: 100%; */
    /* overflow: visible; */
    /* position: relative; */
    /* text-align: center; */
    /* text-transform: none; */
    /* transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms; */
    /* user-select: none; */
    /* -webkit-user-select: none; */
    /* touch-action: manipulation; */
    /* will-change: transform,opacity; */
    /* z-index: 0; */
    
}

/* behind all posts: */
ul#posts {
    /* box size */
    width: 100%;
    padding: 0;
    /* font color */
    color: black;
}

/* .please{
background-color: aqua;} */

/* each post */
ul#posts li {
    background-color: rgba(146, 51, 51, 0);
    display: block;
    border: none;
    border-radius: 12px;
    box-shadow:
    rgba(209, 212, 20, 0.2) 0 3px 5px -1px,
    rgba(153, 12, 12, 0.14) 0 6px 10px 0,
    rgba(18, 33, 173, 0.12) 0 1px 18px 0;
    border-style:dashed;
    font-family: 'Estonia', cursive;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 17px;
    font-weight: 400;
    margin: 1em;
    padding: 1em;
}

ul#posts li .reactions div {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    font-family: 'Estonia', cursive;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Pacifico', cursive;
}

ul#posts li .reactions div span {
    font-size: 10px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
    border: 1px solid black;
    display: inline-block;
    padding: 0.1em 0.3em;
    margin: 0.3em;
}



